[submodule "dcase2020_task4/pytorch_metrics"]
	path = dcase2020_task4/pytorch_metrics
	url = https://github.com/leocances/pytorch_metrics.git
[submodule "dcase2020_task4/augmentation_utils"]
	path = dcase2020_task4/augmentation_utils
	url = https://github.com/leocances/augmentation_utils.git
