# Folders
.idea/
.vs/
.vscode/
dataset/
tensorboard/
.ipynb_checkpoints/
__pycache__
*.egg-info
results/
models

# Filetypes
*.pyc
*.err
*.out
*.torch

# Specific files
notes.txt
.tmp_sbatch.sh
spec.json
img.json
spec_time_stretch.json
